
.navbar{
  padding: 7px;
  i{
    font-size: 22px
  }
}

#sidebarToggle{
  margin-bottom: 0px;
  background:none;
  border:none;
}
.company-setting{
  .dropdown-toggle{
    color: #fff;
    text-decoration: none;
  }
}
@media (min-width: 768px){
  .mr-md-10 {
    margin-right: 10rem !important;
  }
}