.btn {
    color: #000;
	background: $color-medium-gray;
	@include border-default;
	margin-bottom: 16px;
    font-family: $font-family;
    padding: 9px 22px;
    &:hover{
    	background:darken($color-medium-gray,8%);
    }
	&-action{
		color: #fff;
		background: $color-orange;
		&:hover {
			background: $color-dark-orange;
			color: #fff;
		}
	}
	&-action-alternative{
		color: $color-black;
		background: $color-light-gray;
		&:hover {
			background: $color-medium-gray;
		}
	}
	&-dropdown{
		background: $color-blue;
		color: #fff;
		&:hover {
			color: #fff;
			background:darken($color-blue, 8%);
		}
		&:focus {
			color: #fff;
			background: $color-blue;
		}
	}
	&-secondary-green{
		background: $color-light-green;
	    &:hover{
	    	background:darken($color-light-green,8%);
	    }
	}
	&-secondary-red{
		background: $color-red;
	    &:hover{
	    	background:darken($color-red,8%);
	    }
	}
	/** Sizes **/
	&-full-width{
		color: $color-black;
		width:100%;
	}
	&-regular{
		padding:9px 22px;
	}
	&-sm{
    	padding: .25rem .5rem;
	}
}

.btn-group{
	.btn-default{
		&:active{
			color: #fff;
			background-color: $color-blue;
		}
	}
	ul{
		margin-top: -16px;
	}
}

.btn-toogle{
	margin-bottom:16px;
	label:nth-child(1){
		&:hover{
			background: $color-red;
			color: #fff;
		}
		&.active{
			background: $color-red;
			color: #fff;
		}
	}
	label:nth-child(2){
		&:hover{
			background: $color-blue;
			color: #fff;
		}
		&.active{
			background: $color-blue;
			color: #fff;
		}
	}
	label:nth-child(3){
		&:hover{
			background: $color-green;
			color: #fff;
		}
		&.active{
			background-color: $color-green;
			color: #fff;
		}
	}
}
