.date{
	input{
		border: 1px solid #ced4da;
	}
	.input-group-text{
		border-left:0px;
	    background-color: #fff;
	}
	i{
	    vertical-align: middle;
	    display: flex;
	}
	.input-group-append{
		position: absolute;
		right: 0;
		.input-group-text{
			border: none;
			padding: 10px;
			background: none;		
		}
	}
}
.react-datepicker__input-container {
	width: inherit;
}
  
  .react-datepicker-wrapper {
	width: 100%;
}
.datepicker{
	padding:10px;
	margin-bottom:0px;
}
.react-datepicker__day--selected{
	background-color: $color-orange;
}