%inputs{
	@include margin($top: null, $right: null, $bottom: 16px, $left: null);
}

input{
	@extend %inputs;
	color:#000;
}

textarea{
	@extend %inputs;
}

.form-control{
	&:focus{
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ef762278;
		border-color: #EF7622;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ef7622a1;
		border: 1px solid #ccc;
	}
}

.input-icon{
	span{
		background: #0FA28E;
	    color: #fff;
	    width: 3em;
	}
	i{
	    margin: 0 auto;
	    font-size: 12px;
	}
}
