.table-container{
	padding:30px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid $color-medium-gray;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	.table-heading{
	padding:0px;
	background: #fff;
	margin-bottom:18px;
	border:none;
    border-bottom: 1px solid transparent;
		h3{
				
		}
	}
	table{
		margin:0px;
		thead{
			tr{
				th{
					font-size:16px;
					font-weight: 600;
					border:none;
					padding:15px;
				}
			}
		}
		tbody{
			tr{
				td{
					border: none;
					border-top: solid 1px $color-medium-gray;
					padding: 15px;
					font-size: 16px;
					vertical-align: middle;
					.radio{
						margin: 0px 0px 15px 0px;
					}
				}
			}
		}
	}
}
