/* The check */
.check{
    display: inline-block;
    padding-left: 25px;
    margin-bottom: 0px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 16px;
    line-height:20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff ;
    border-color: $color-medium-gray;
    border-style:solid;
    border-width:1px;
}



/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #fff  ;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid;
    border-color: $color-orange;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cust-btn{
    margin-bottom: 10px;
    background-color: #f8204f;
    border-width: 2px;
    border-color: #f8204f;
    color: #fff;
    &:hover{
        border-color: #f8204f;
        background-color: #fff;
        color: #f8204f;
        border-radius: 20px;
        transform-style: 2s;
    }
}

/* Check box solid */
.check{
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}


/* Create a custom checkbox */
.checkmark-solid {
    @extend .checkmark;
    border-color: $color-orange;
}



/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark-solid {
    background-color: $color-orange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-solid:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark-solid:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark-solid:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

