@mixin padding($top, $right, $bottom, $left) {
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

@mixin margin($top, $right, $bottom, $left) {
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $bottom;
	margin-left: $left;
}

@mixin border($direction, $style, $width, $color, $radius) {
	border-#{$direction}: $style $width $color;
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin border-default{
	border: 1px solid $color-light-gray;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

@mixin placeholder() {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}
@mixin placeholder-textarea() {
  textarea::-webkit-input-placeholder {@content}
  textarea:-moz-placeholder           {@content}
  textarea::-moz-placeholder          {@content}
  textarea:-ms-input-placeholder      {@content}  
}
