body{
	font-family: $font-family;
}
a{
	text-decoration:none;
}

p{
	color: $color-charcoal;
}
// Then call it with the rules/styles you want wherever you want (As long as the file/include has access to the above function of course).
#{headings(1,6)} {
	color: $color-charcoal;
}

h1{
	font-size: 48px;
}

h2{
	font-size: 32px;
}

h3{
	font-size: 26px;
	font-weight: $font-weight-semi-bold;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 18px;
}

h6{
	font-size: 16px;
}

//Placeholder sizes
@include placeholder(){
	color: $color-light-gray;
	font-weight: $font-weight-light;
}
@include placeholder-textarea(){
	font-size: 16px;
	color: $color-light-gray;
	font-weight: $font-weight-light;
}